<template>
  <div v-if="isDevMode" id="screen-size-indicator">
    <p>{{ $data.$screenSize.width }}px / {{ $data.$screenSize.height }}px</p>
    <p>{{ $data.$screenSize.breakPoint }}</p>
  </div>
</template>

<script>
export default {
  computed: {
    isDevMode () {
      return process.env.NODE_ENV === 'development'
    }
  }
}
</script>

<style lang="scss" scoped>
#screen-size-indicator {
  position: fixed;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 5px;
  font-size: 12px;
  z-index: 9999;
  width: 100px;
  height: 50px;
  user-select: none;

  p {
    margin: 0;
  }
}
</style>
