<template>
  <div id="article-card-container">
    <span id="document-icon" class="fa fa-file green icon-20" />
    <div id="article-info">
      <h3>{{ article.title }}</h3>
      <p>{{ readableDate(article.updatedOn) }}</p>
    </div>
    <span id="chevron-icon" class="fa-chevron-right fa green icon-16" />
  </div>
</template>

<script>
import { readableDate } from '../../utils.js'

export default {
  props: {
    article: {
      type: Object,
      required: true
    }
  },
  methods: {
    readableDate
  }
}
</script>

<style lang="scss" scoped>
@import '../../scss/variables.scss';

#article-card-container {
  cursor: pointer;
  border: 1px solid #EEEEEE;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: $white;
  height: 91.54px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  user-select: none;
  width: 670px;

  #article-info {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
    margin-left: 24px;
    justify-content: center;
  }

  h3 {
    font-size: 20px;
    font-weight: 400;
    font-family: $font-family;
    color: black;
    margin-top: 0;
    margin-bottom: 0;
  }

  p {
    font-size: 11px;
    font-weight: 400;
    font-family: $font-family;
    color: $text-gray;
    text-decoration-line: none;
    text-decoration: none;
    line-height: 22px;
    margin-top: 4px;
    margin-bottom: 0;
  }
}

#document-icon {
  margin-left: 40px;

}

#chevron-icon {
  margin-right: 40px;
}

@media only screen and (max-width: 800px) {
  #article-card-container {
    width: 100%;
  }
}
</style>
