<template>
  <router-link id="card-container" class="router-link" :to="`/category/${category.id}`">

    <tawk-category-icon id="card-icon" :category-id="removeSpaces(category.title)" />
    <h2>{{ category.title }}</h2>
    <div id="card-info-section">
      <p id="card-article-counter">
        {{ category.totalArticle }} {{ category.totalArticle > 1 ? 'articles' : 'article' }}
      </p>
      <p id="card-last-updated">Last update {{ timeAgo(category.updatedOn) }}</p>
    </div>

  </router-link>
</template>

<script>
import { timeAgo, removeSpaces } from '../../utils.js'
import CategoryIcon from './Icon.vue'

export default {
  components: {
    'tawk-category-icon': CategoryIcon
  },
  props: {
    category: {
      type: Object,
      required: true
    }
  },
  methods: {
    timeAgo,
    removeSpaces
  }
}
</script>

<style lang="scss" scoped>
@import '../../scss/_variables.scss';

#card-container {
  cursor: pointer;
  border: 1px solid #EEEEEE;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  background-color: $white;
  text-align: center;
  width: 315px;
  height: 220px;
  display: flex;
  direction: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  user-select: none;

  h2 {
    font-size: 20px;
    font-weight: 600;
    font-family: $font-family;
    color: black;
    text-decoration-line: none;
    text-decoration: none;
  }

  #card-article-counter {
    font-size: 13px;
    color: $green;
    margin-top: 0;
    margin-bottom: 0;
    text-decoration-line: none;
  }

  #card-info-section {
    margin-top: 21px;
  }

  #card-last-updated {
    font-size: 11px;
    color: $text-gray;
    margin-top: 0;
    margin-bottom: 0;
  }

  #card-icon {
    margin-bottom: 20px;
  }
}

@media (max-width: 780px) {
  .router-link {
    width: 95%;

  }

  #card-container {
    width: 95%;
  }
}
</style>
