<template>
  <div>
    <svg v-if="categoryId === 'GettingStarted'" width="46" height="55" viewBox="0 0 46 55" fill="none"
         xmlns="http://www.w3.org/2000/svg"
    >
      <path fill-rule="evenodd" clip-rule="evenodd"
            d="M41.9634 27.4765C43.8004 28.6574 43.8004 31.3426 41.9634 32.5235L11.6223 52.0285C9.62574 53.312 7 51.8785 7 49.505V10.495C7 8.1215 9.62574 6.68797 11.6223 7.97146L41.9634 27.4765Z"
            fill="#4EB548" fill-opacity="0.15"
      />
      <path fill-rule="evenodd" clip-rule="evenodd"
            d="M36.9634 22.4765C38.8004 23.6574 38.8004 26.3426 36.9634 27.5235L6.62227 47.0285C4.62574 48.312 2 46.8785 2 44.505V5.49499C2 3.1215 4.62574 1.68797 6.62227 2.97146L36.9634 22.4765Z"
            stroke="#03A84E" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"
      />
    </svg>

    <svg v-if="categoryId === 'ChatWidgetCustomization'" width="55" height="55" viewBox="0 0 55 55" fill="none">
      <path fill-rule="evenodd" clip-rule="evenodd" fill="#4EB548" fill-opacity="0.15"
            d="M52.5 39.1667C48.5027 47.1648 40.3303 52.2188 31.3889 52.2222C27.7226 52.2318 24.1059 51.3752 20.8333 49.7222L8.79473 53.7351C7.23122 54.2563 5.74374 52.7688 6.26491 51.2053L10.2778 39.1667C8.62481 35.8941 7.76822 32.2774 7.77778 28.6111C7.78124 19.6697 12.8352 11.4973 20.8333 7.5C24.1059 5.84704 27.7226 4.99045 31.3889 5H32.7778C44.7661 5.66139 54.3386 15.2339 55 27.2222V28.6111C55.0096 32.2774 54.153 35.8941 52.5 39.1667Z"
      />
      <path stroke=" #03A84E" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"
            d="M15.8333 44.7224C19.1059 46.3753 22.7226 47.2319 26.3889 47.2224C35.3303 47.2189 43.5027 42.165 47.5 34.1668L15.8333 44.7224ZM15.8333 44.7224L3.79473 48.7352C2.23122 49.2564 0.743739 47.7689 1.26491 46.2054L5.27778 34.1668L15.8333 44.7224ZM46.1611 33.4905L46.1582 33.4962C42.4149 40.9863 34.7617 45.7191 26.3883 45.7224L26.385 45.7224C22.9549 45.7313 19.5713 44.9299 16.5096 43.3835C16.1526 43.2032 15.7384 43.1729 15.359 43.2994L3.32039 47.3122C2.92951 47.4425 2.55764 47.0706 2.68794 46.6798L6.7008 34.6412C6.82728 34.2617 6.79699 33.8475 6.61667 33.4905C5.07022 30.4289 4.26883 27.0452 4.27778 23.6152L4.27778 23.6118C4.28102 15.2385 9.01391 7.5853 16.5039 3.84193L16.5096 3.83905C19.5713 2.2926 22.9549 1.49121 26.385 1.50016H26.3889H27.7358C38.9282 2.13801 47.8622 11.072 48.5 22.2644L48.5 23.6113L48.5 23.6152C48.5089 27.0452 47.7076 30.4289 46.1611 33.4905Z"
      />
    </svg>

    <svg v-if="categoryId === 'UsingtheDashboard'" width="60" height="51" viewBox="0 0 60 51" fill="none"
         xmlns="http://www.w3.org/2000/svg"
    >
      <rect x="2" y="2" width="52.6316" height="36.8421" rx="2" stroke="#03A84E" stroke-width="3" stroke-linecap="round"
            stroke-linejoin="round"
      />
      <path d="M38 20H34L31 29L25 11L22 20H18" stroke="#03A84E" stroke-width="2" stroke-linecap="round"
            stroke-linejoin="round"
      />
      <path d="M17.7895 49.3684H38.8421" stroke="#03A84E" stroke-width="3" stroke-linecap="round"
            stroke-linejoin="round"
      />
      <path d="M28.3158 38.8421V49.3684" stroke="#03A84E" stroke-width="3" stroke-linecap="round"
            stroke-linejoin="round"
      />
      <rect x="7" y="7" width="52.6316" height="36.8421" rx="2" fill="#4EB548" fill-opacity="0.15" />
    </svg>

    <svg v-if="categoryId === 'AdvancedFeatures'" width="60" height="53" viewBox="0 0 60 53" fill="none"
         xmlns="http://www.w3.org/2000/svg"
    >
      <path fill-rule="evenodd" clip-rule="evenodd"
            d="M22.1249 5.39104C21.3008 5.39104 20.5131 5.73 19.9465 6.32837L8.10581 18.8334C7.05535 19.9428 7.00642 21.6644 7.99217 22.8317L31.18 50.2892C32.3796 51.7097 34.5691 51.7081 35.7667 50.286L58.2214 23.6206C59.1618 22.5038 59.1617 20.8721 58.221 19.7555L47.0196 6.45825C46.4496 5.78158 45.61 5.39104 44.7252 5.39104H22.1249Z"
            fill="#4EB548" fill-opacity="0.15"
      />
      <path fill-rule="evenodd" clip-rule="evenodd"
            d="M2.10164 17.6879H54.8489C55.2764 17.6879 55.6648 17.4396 55.8451 17.0522C56.0253 16.6648 55.9643 16.2077 55.689 15.8808L43.0412 0.876373C42.8324 0.628571 42.5253 0.485714 42.2011 0.485714H14.7522C14.428 0.485714 14.1209 0.628571 13.9121 0.876373L1.26153 15.8808C0.986259 16.2071 0.92527 16.6643 1.10549 17.0522C1.28571 17.4401 1.67417 17.6879 2.10164 17.6879ZM52.4857 15.4901H4.46593L15.2632 2.68352H41.6907L52.4857 15.4901Z"
            fill="#03A84E"
      />
      <path
        d="M55.689 15.8808L55.8802 15.7197L55.8802 15.7196L55.689 15.8808ZM43.0412 0.876373L42.85 1.03746L42.8501 1.0375L43.0412 0.876373ZM13.9121 0.876373L14.1032 1.03752L14.1033 1.03746L13.9121 0.876373ZM1.26153 15.8808L1.45264 16.042L1.45267 16.0419L1.26153 15.8808ZM1.10549 17.0522L1.33222 16.9469L1.10549 17.0522ZM4.46593 15.4901L4.2748 15.329L3.92816 15.7401H4.46593V15.4901ZM52.4857 15.4901V15.7401H53.0234L52.6769 15.329L52.4857 15.4901ZM15.2632 2.68352V2.43352H15.147L15.072 2.52237L15.2632 2.68352ZM41.6907 2.68352L41.8818 2.52239L41.8069 2.43352H41.6907V2.68352ZM54.8489 17.4379H2.10164V17.9379H54.8489V17.4379ZM55.6184 16.9467C55.4791 17.2461 55.1789 17.4379 54.8489 17.4379V17.9379C55.3738 17.9379 55.8506 17.633 56.0717 17.1577L55.6184 16.9467ZM55.4978 16.0418C55.7105 16.2944 55.7575 16.6476 55.6184 16.9467L56.0717 17.1577C56.293 16.682 56.2181 16.121 55.8802 15.7197L55.4978 16.0418ZM42.8501 1.0375L55.4979 16.0419L55.8802 15.7196L43.2324 0.715246L42.8501 1.0375ZM42.2011 0.735714C42.4516 0.735714 42.6887 0.846041 42.85 1.03746L43.2324 0.715288C42.9761 0.411101 42.599 0.235714 42.2011 0.235714V0.735714ZM14.7522 0.735714H42.2011V0.235714H14.7522V0.735714ZM14.1033 1.03746C14.2646 0.846041 14.5017 0.735714 14.7522 0.735714V0.235714C14.3543 0.235714 13.9772 0.411101 13.7209 0.715287L14.1033 1.03746ZM1.45267 16.0419L14.1032 1.03752L13.721 0.715226L1.0704 15.7196L1.45267 16.0419ZM1.33222 16.9469C1.19291 16.647 1.24017 16.2939 1.45264 16.042L1.07043 15.7196C0.732351 16.1204 0.65763 16.6816 0.878764 17.1575L1.33222 16.9469ZM2.10164 17.4379C1.77147 17.4379 1.47145 17.2466 1.33222 16.9469L0.878764 17.1575C1.09997 17.6337 1.57688 17.9379 2.10164 17.9379V17.4379ZM4.46593 15.7401H52.4857V15.2401H4.46593V15.7401ZM15.072 2.52237L4.2748 15.329L4.65706 15.6513L15.4543 2.84466L15.072 2.52237ZM41.6907 2.43352H15.2632V2.93352H41.6907V2.43352ZM52.6769 15.329L41.8818 2.52239L41.4995 2.84464L52.2946 15.6512L52.6769 15.329Z"
        fill="#03A84E"
      />
      <path
        d="M28.4753 49.6148L1.26099 17.2967L2.9423 15.8813L28.4753 46.2022L54.0082 15.8813L55.6896 17.2967L28.4753 49.6148Z"
        fill="#03A84E" stroke="#03A84E" stroke-width="0.5"
      />
      <path fill-rule="evenodd" clip-rule="evenodd"
            d="M27.439 48.2736C27.594 48.7132 28.0088 49.0071 28.4753 49.0071C28.9418 49.0071 29.3566 48.7132 29.511 48.2736L40.5549 16.9544C40.6764 16.611 40.6198 16.2302 40.4038 15.9374L29.3599 0.932968C28.9456 0.370331 28.0033 0.370331 27.5901 0.932968L16.5484 15.9374C16.333 16.2308 16.2758 16.611 16.3973 16.9544L27.439 48.2736ZM28.4747 44.6038L18.6632 16.772L28.4753 3.43846L38.2885 16.772L28.4747 44.6038Z"
            fill="#03A84E"
      />
      <path
        d="M27.439 48.2736L27.6748 48.1905L27.6748 48.1905L27.439 48.2736ZM29.511 48.2736L29.2752 48.1905L29.2751 48.1908L29.511 48.2736ZM40.5549 16.9544L40.3192 16.8711L40.3192 16.8713L40.5549 16.9544ZM40.4038 15.9374L40.2025 16.0856L40.2026 16.0857L40.4038 15.9374ZM29.3599 0.932968L29.5612 0.784772L29.5612 0.784736L29.3599 0.932968ZM27.5901 0.932968L27.7915 1.08115L27.7916 1.08095L27.5901 0.932968ZM16.5484 15.9374L16.347 15.7892L16.3468 15.7894L16.5484 15.9374ZM16.3973 16.9544L16.633 16.8713L16.633 16.8711L16.3973 16.9544ZM18.6632 16.772L18.4618 16.6238L18.3834 16.7303L18.4274 16.8551L18.6632 16.772ZM28.4747 44.6038L28.2389 44.687L28.4747 45.3557L28.7105 44.687L28.4747 44.6038ZM28.4753 3.43846L28.6766 3.29028L28.4753 3.01668L28.2739 3.29029L28.4753 3.43846ZM38.2885 16.772L38.5242 16.8551L38.5682 16.7303L38.4898 16.6238L38.2885 16.772ZM28.4753 48.7571C28.1149 48.7571 27.7945 48.5301 27.6748 48.1905L27.2032 48.3567C27.3934 48.8962 27.9027 49.2571 28.4753 49.2571V48.7571ZM29.2751 48.1908C29.1559 48.5301 28.8357 48.7571 28.4753 48.7571V49.2571C29.0478 49.2571 29.5573 48.8963 29.7469 48.3565L29.2751 48.1908ZM40.3192 16.8713L29.2752 48.1905L29.7468 48.3568L40.7907 17.0375L40.3192 16.8713ZM40.2026 16.0857C40.3693 16.3118 40.4131 16.6057 40.3192 16.8711L40.7906 17.0377C40.9397 16.6162 40.8703 16.1487 40.6051 15.789L40.2026 16.0857ZM29.1586 1.08116L40.2025 16.0856L40.6052 15.7892L29.5612 0.784772L29.1586 1.08116ZM27.7916 1.08095C27.9431 0.87467 28.2006 0.76099 28.4746 0.76099C28.7486 0.76099 29.0065 0.87468 29.1586 1.0812L29.5612 0.784736C29.299 0.428619 28.8786 0.26099 28.4746 0.26099C28.0706 0.26099 27.6503 0.428629 27.3886 0.784991L27.7916 1.08095ZM16.7497 16.0855L27.7915 1.08115L27.3888 0.784791L16.347 15.7892L16.7497 16.0855ZM16.633 16.8711C16.5393 16.6061 16.5832 16.3124 16.7499 16.0853L16.3468 15.7894C16.0828 16.1491 16.0124 16.6159 16.1616 17.0377L16.633 16.8711ZM27.6748 48.1905L16.633 16.8713L16.1615 17.0375L27.2032 48.3568L27.6748 48.1905ZM18.4274 16.8551L28.2389 44.687L28.7105 44.5207L18.899 16.6889L18.4274 16.8551ZM28.2739 3.29029L18.4618 16.6238L18.8645 16.9202L28.6766 3.58664L28.2739 3.29029ZM38.4898 16.6238L28.6766 3.29028L28.2739 3.58665L38.0871 16.9202L38.4898 16.6238ZM28.7105 44.687L38.5242 16.8551L38.0527 16.6888L28.239 44.5207L28.7105 44.687Z"
        fill="#03A84E"
      />
      <path d="M15.834 1.39104L18.5151 16.395L16.3516 16.7816L13.6705 1.77763L15.834 1.39104Z" fill="#03A84E"
            stroke="#03A84E" stroke-width="0.5"
      />
      <path d="M41.1206 1.39038L43.2841 1.7772L40.6015 16.7817L38.438 16.3949L41.1206 1.39038Z" fill="#03A84E"
            stroke="#03A84E" stroke-width="0.5"
      />
    </svg>

    <svg v-if="categoryId === 'Integrations'" width="57" height="57" viewBox="0 0 57 57" fill="none"
         xmlns="http://www.w3.org/2000/svg"
    >
      <path fill-rule="evenodd" clip-rule="evenodd"
            d="M34.7911 39.3144C35.2275 39.3931 35.6698 39.4488 36.1166 39.4808C39.7342 39.7399 43.2859 38.415 45.85 35.85L53.35 28.35C58.0872 23.4453 58.0194 15.6489 53.1977 10.8273C48.3761 6.0056 40.5798 5.93785 35.675 10.675L31.375 14.95L29.1968 24.6834C28.7644 24.6059 28.3261 24.5509 27.8834 24.5192C24.2658 24.2601 20.7141 25.585 18.15 28.15L10.65 35.65C5.91286 40.5547 5.98061 48.3511 10.8023 53.1727C15.624 57.9944 23.4203 58.0622 28.325 53.325L32.6 49.05L34.7911 39.3144Z"
            fill="#4EB548" fill-opacity="0.15"
      />
      <path
        d="M22 29.5C24.1724 32.4042 27.4991 34.2218 31.1166 34.4808C34.7342 34.7399 38.2859 33.415 40.85 30.85L48.35 23.35C53.0872 18.4453 53.0194 10.6489 48.1977 5.82727C43.3761 1.0056 35.5797 0.937847 30.675 5.675L26.375 9.95"
        stroke="#03A84E" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"
      />
      <path
        d="M32 24.5C29.8276 21.5958 26.5009 19.7782 22.8834 19.5192C19.2658 19.2601 15.7141 20.585 13.15 23.15L5.65001 30.65C0.912861 35.5547 0.980609 43.3511 5.80228 48.1727C10.624 52.9944 18.4203 53.0622 23.325 48.325L27.6 44.05"
        stroke="#03A84E" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"
      />
    </svg>

    <svg v-if="categoryId === 'E-commerceIntegrations'" width="60" height="55" viewBox="0 0 60 55" fill="none"
         xmlns="http://www.w3.org/2000/svg"
    >
      <path fill-rule="evenodd" clip-rule="evenodd"
            d="M22.9048 38.881C23.3542 41.1434 25.3605 42.7585 27.6667 42.7143H50.8095C53.1158 42.7585 55.1221 41.1434 55.5715 38.881L59.381 18.9048H18.9048"
            fill="#4EB548" fill-opacity="0.15"
      />
      <path
        d="M21.0476 53.5C23.191 53.5 24.9286 51.7624 24.9286 49.619C24.9286 47.4757 23.191 45.7381 21.0476 45.7381C18.9042 45.7381 17.1667 47.4757 17.1667 49.619C17.1667 51.7624 18.9042 53.5 21.0476 53.5Z"
        stroke="#03A84E" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"
      />
      <path
        d="M47.2381 53.5C49.3815 53.5 51.119 51.7624 51.119 49.619C51.119 47.4757 49.3815 45.7381 47.2381 45.7381C45.0947 45.7381 43.3571 47.4757 43.3571 49.619C43.3571 51.7624 45.0947 53.5 47.2381 53.5Z"
        stroke="#03A84E" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"
      />
      <path
        d="M2 2H11.5238L17.9048 33.881C18.3541 36.1434 20.3604 37.7585 22.6667 37.7143H45.8095C48.1158 37.7585 50.1221 36.1434 50.5714 33.881L54.381 13.9048H13.9048"
        stroke="#03A84E" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"
      />
    </svg>

  </div>
</template>

<script>
export default {
  props: {
    categoryId: {
      type: String,
      required: true
    }
  }
}
</script>
