<template>
  <div id="card-container">
    <tawk-category-icon v-if="category.title" id="card-icon" :category-id="removeSpaces(category.title)" />
    <div id="card-info-section">
      <h2>{{ category.title }}</h2>
      <p id="last-updated-on">
        Updated {{ timeAgo(category.updatedOn) }}
      </p>
    </div>

    <div class="divider-light" />

    <i class="fa fa-info-circle green icon-20" />
    <p id="card-description-section">{{ category.description }}</p>

  </div>
</template>

<script>
import { timeAgo, removeSpaces } from '../../utils.js'
import CategoryIcon from './Icon.vue'

export default {
  components: {
    'tawk-category-icon': CategoryIcon
  },
  props: {
    category: {
      type: Object,
      required: true
    }
  },
  methods: {
    timeAgo,
    removeSpaces
  }
}
</script>

<style lang="scss" scoped>
@import '../../scss/_variables.scss';

#card-container {
  flex-shrink: 0;
  border: 1px solid #EEEEEE;
  margin-right: 10px;
  border-radius: 5px;
  background-color: $white;
  text-align: center;
  width: 315px;
  height: 345.82px;
  display: flex;
  direction: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  user-select: none;

  #card-info-section {
    margin-top: 20px;
  }

  h2 {
    font-size: 23px;
    font-weight: 600;
    font-family: $font-family;
    color: black;
  }

  #last-updated-on {
    font-size: 11px;
    color: $text-gray;
    margin-top: 2px;
    margin-bottom: 0;
    line-height: 22px;
  }

  #card-description-section {
    max-width: 220px;
    font-size: 13px;
    color: $text-gray;
    line-height: 18px;
    margin-top: 14px;
    margin-bottom: 0;
  }

  #card-article-counter {
    font-size: 13px;
    color: $green;
    margin-top: 0;
    margin-bottom: 0;
    text-decoration-line: none;
  }

  #card-info-section {
    margin-top: 21px;
  }

  #card-icon {
    margin-bottom: 20px;
  }
}

@media (max-width: 1044px) {
  #card-container {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 0;
  }
}
</style>
