<template>
  <div>
    <div id="breadcrumbs-container">
      <router-link to="/" class="green router-link">All Categories</router-link>
      <div v-for="(page, $index) in pages" id="links" :key="$index">
        <span class="fa-chevron-right fa light-gray" />
        <router-link :to="page.path" class="gray router-link">
          {{ page.title }}
        </router-link>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    category: {
      type: String,
      required: false
    },
    article: {
      type: String,
      default: undefined
    },
    pages: {
      type: Array,
      default: () => [{
        title: 'All Categories',
        path: '/'
      }]
    }
  }
}
</script>

<style lang="scss" scoped>
@import '../../scss/variables';

#breadcrumbs-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  line-height: 22px;
  font-size: 13px;
  font-family: $font-family;
}

#links {
  display: flex;
  flex-direction: row;
  align-items: center;
}

span,
.router-link {
  margin-right: 14px;
}
</style>
