<template>
  <div id="page-container">
    <div id="content-container">
      <navigation-breadcrumbs v-if="categoryInfo.title" id="breadcrumb-container" :pages="pages" />
      <div class="divider-dark" />
      <div id="category-container">
        <category-info-card :category="categoryInfo" />
        <div id="categories-articles-list">
          <category-article-card v-for="article in publishedArticles" :key="article.order" :article="article" />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import CategoryInfoCard from '../components/Category/InfoCard.vue'
import CategoryArticleCard from '../components/Article/Card.vue'
import NavigationBreadcrumbs from '../components/Navigation/Breadcrumbs.vue'
import { fetchCategoryArticles, fetchCategoryInfo } from '../api'
import store from '../store'

export default {
  components: {
    'category-article-card': CategoryArticleCard,
    'category-info-card': CategoryInfoCard,
    'navigation-breadcrumbs': NavigationBreadcrumbs
  },
  // This is a navigation guard that is called before the route is entered
  async beforeRouteEnter (to, from, next) {
    const category = await store.dispatch('getSingleCategory', to.params.categoryId)

    if (category.enabled === false) {
      next('/')
    }

    next()
  },
  data () {
    return {
      categoryArticles: [],
      categoryInfo: {}
    }
  },
  computed: {
    pages () {
      return [
        { title: this.categoryInfo.title, path: `/category/${this.categoryInfo.id}` }
      ]
    },
    publishedArticles () {
      return this.categoryArticles.filter(article => article.status === 'published')
    }
  },

  async created () {
    const info = await fetchCategoryInfo(this.$route.params.categoryId)
    const articles = await fetchCategoryArticles(this.$route.params.categoryId)
    this.categoryArticles = articles
    this.categoryInfo = info
  }
}
</script>

<style lang="scss" scoped>
@import '../scss/_variables.scss';

#page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: $font-family;
  background-color: $lotion;
}

#category-container {
  display: flex;
  flex-direction: row;
  margin-top: 6px;
  font-family: $font-family;
  padding-bottom: 100px;
  width: fit-content;
  justify-content: center;
}

@media (max-width: 1044px) {
  #category-container {
    flex-direction: column;
    align-items: center;
  }
}

#content-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: fit-content;
  justify-content: center;
  font-family: $font-family;
  background-color: $lotion;
}

#categories-articles-list {
  flex-shrink: 0;
  width: 100%;
  max-width: 670px;
  background-color: $lotion;
  font-family: $font-family;
}

#breadcrumb-container {
  margin-bottom: 13px;
  margin-top: 21px;
}

@media (max-width: 780px) {
  #content-container {
    width: 97.5%;
  }

  #category-container {
    width: 100%
  }
}
</style>
