<template>
  <div id="categories-container">
    <div id="knowledge-base-categories">
      <tawk-category-card v-for="category in enabledCategories" :key="category.order" :category="category" />
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex'
import CategoryCard from '../components/Category/HomeCard.vue'
import { fetchCategories } from '../api'

export default {
  components: {
    'tawk-category-card': CategoryCard
  },
  data () {
    return {
      categories: []
    }
  },
  async created () {
    const result = await fetchCategories()
    this.categories = result
    this.$store.commit('setCategories', this.categories)
  },
  computed: {
    enabledCategories () {
      return this.categories.filter(category => category.enabled)
    },
    ...mapState({
      temp: state => state.categories
    })
  }
}
</script>

<style lang="scss" scoped>
@import '../scss/_variables.scss';

#categories-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  background-color: $lotion;
  font-family: $font-family;
  height: 100%;
  padding-bottom: 100px;
}

#knowledge-base-categories {
  justify-content: center;
  align-items: center;
  margin: auto;
  max-width: 1200px;
  display: flex;
  flex-direction: col;
  flex-wrap: wrap;
  margin-top: 20px;
  background-color: $lotion;
  font-family: $font-family;
}

@media (max-width: 755px) {
  #knowledge-base-categories {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
    max-width: 100%;

  }
}
</style>
