<template>
  <div>

    <div id="page-container">
      <div id="content-container">
        <navigation-breadcrumbs id="breadcrumbs" :pages="pages" />
        <div id="search-results">
          <span id="showing-results">Showing results for “<span id="query">{{ $route.query.query }}</span>”</span>

          <div id="search-cards">
            <template v-if="searchResults && searchResults.length > 0">
              <result-cards v-for="(result, $index) in searchResults" :key="$index" :result="result" />
            </template>
            <template v-else>
              <search-icon />
              <div id="no-results">
                <div id="showing-results">No results found</div>
                <p id="submit-ticket">Please, try again or <router-link to="/" class="router-link green">Submit a ticket</router-link></p>
              </div>
            </template>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import NavigationBreadcrumbs from '../components/Navigation/Breadcrumbs.vue'
import SearchIcon from '../components/Icons/search.vue'
import ResultCards from '../components/Search/Results.vue'
import { searchKnowledgeBase } from '../api'

export default {
  data () {
    return {
      searchResults: []
    }
  },
  components: {
    'navigation-breadcrumbs': NavigationBreadcrumbs,
    'search-icon': SearchIcon,
    'result-cards': ResultCards
  },
  computed: {
    pages () {
      return [
        { title: 'Search', path: '/search' }
      ]
    }
  },
  methods: {
    searchKnowledgeBase
  },
  async mounted () {
    this.searchResults = await this.searchKnowledgeBase(this.$route.query.query)
  },
  watch: {
    // deep immediate watcher for query change to update search results
    '$route.fullPath': {
      handler: function () {
        console.log('query changed')
        this.searchResults = []
        this.searchKnowledgeBase(this.$route.query.query).then(results => {
          this.searchResults = results
        })
      },
      deep: true,
      immediate: true
    }

  }
}
</script>

<style lang="scss" scoped>
@import '../scss/_variables.scss';

#page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: $font-family;
  background-color: $lotion;
}

#category-container {
  display: flex;
  flex-direction: row;
  margin-top: 6px;
  font-family: $font-family;
  padding-bottom: 100px;
  width: fit-content;
  justify-content: center;
}

#content-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 830px;
  justify-content: center;
  font-family: $font-family;
  background-color: $lotion;
}

#search-cards {
  margin-top: 20px;
}

#search-results {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  justify-content: center;
  font-family: $font-family;
}

#breadcrumbs {
  margin-bottom: 13px;
  margin-top: 21px;
}

#showing-results {
  font-size: 23px;
  font-weight: 600;

  #query {
    color: $green;
  }
}

#no-results {
  margin-top: 50px;
}

#submit-ticket {
  font-size: 15px;
}
</style>
