<template>
  <div id="header-wrapper">
    <div id="header-text">
      <h1>Knowledge base doesn't have to be boring</h1>
      <h3>Everything you need to manage your messaging</h3>
    </div>
    <tawk-search class="spacing" />
  </div>
</template>

<script>
import Search from './Search/Input.vue'

export default {
  components: {
    'tawk-search': Search
  }
}
</script>

<style lang="scss" scoped>
@import '../scss/_variables.scss';

#header-wrapper {
  direction: flex;
  flex-direction: column;
  height: 299px;

  @media (max-width: 768px) {
    height: 350px;
  }
}

#header-text {
  text-align: center;
  font-family: $font-family;
  color: $text-black;
  padding: 20px;

  h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 34px;
    line-height: 41px;
    margin-top: 60px;
  }

  h3 {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    margin-top: 9px;
  }
}

.spacing {
  direction: flex;
  justify-content: center;
  margin: auto;
  margin-top: 17;
}
</style>
