<template>
  <div id="search-wrapper" ref="searchWrapper">
    <input
      id="search-input"
      v-model="searchQuery"
      type="text"
      placeholder="Search for answers"
      @keyup.enter="search"
    >
    <span
      id="search-button"
      class="fa fa-search icon"
      @click="search"
    />
  </div>
</template>

<script>
export default {
  data () {
    return {
      searchQuery: '',
      isResultsVisible: false
    }
  },
  methods: {
    search () {
      if (this.searchQuery.length > 3) {
        // this condition and method below to avoid the redundant pushing
        if (this.$router.path === '/search') {
          this.$router.push({ query: { query: this.searchQuery } })
        } else {
          this.$router.push(`/search?query=${this.searchQuery}`)
        }
      }
    }
  }
}
</script>

<style lang="scss" scoped>
@import '../../scss/_variables.scss';

#search-wrapper {
  display: flex;
  position: relative;
  flex-direction: row;
  border: 1px solid $border-gray-light;
  width: 100%;
  height: 60px;
  max-width: 720px;
  border-radius: 0.25rem;
}

#search-input {
  width: 100%;
  padding: 0 20px;
  font-size: 16px;
  font-family: $font-family;
  color: $text-gray;
  border: none;
  outline: none;
}

#search-button {
  display: flex;
  position: absolute;
  right: 0;
  bottom: 0;
  justify-content: center;
  align-items: center;
  background: $green;
  cursor: pointer;
  height: 100%;
  width: 5rem;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

#search-results-container {
  position: absolute;
  top: 60px;
  width: 100%;
  max-width: 720px;
  background: $white;
  border: 1px solid $border-gray-light;
  border-radius: 0.25rem;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  font-family: $font-family;
}

ul {
  text-decoration: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li.search-result-item {
  padding: 10px;
  border-bottom: 1px solid $border-gray-light;
  cursor: pointer;

  &:hover {
    background-color: $lotion;

    .router-link {
      color: $green;
    }
  }
}

.router-link {
  color: $text-gray;
  text-decoration: none;
  display: block;

  &:hover {
    color: $green;
  }
}

.icon {
  color: white;
  font-size: 20px;
}

@media (max-width: 780px) {
  #search-wrapper {
    width: 99%;
  }
}
</style>
