<template>
  <div id="article-card-container">
    <span id="document-icon" class="fa fa-file green icon-20" />
    <div id="article-info">
      <h3>{{ result.title }}</h3>
      <p>Lorem ipsum dolor sit chat, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et chat magna aliqua</p>
    </div>
    <span
      id="chevron-icon"
      class="fa-chevron-right fa green icon-16"
    />
  </div>
</template>

<script>
export default {
  props: {
    result: {
      type: Object,
      required: true
    }
  }
}
</script>

<style lang="scss" scoped>
@import '../../scss/variables.scss';

#article-card-container {
  cursor: pointer;
  border: 1px solid #EEEEEE;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: $white;
  height: 122px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  user-select: none;
  width: 100%;
  margin-top: 10px;

  #article-info {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
    margin-left: 24px;
    justify-content: center;
  }

  h3 {
    font-size: 20px;
    font-weight: 400;
    font-family: $font-family;
    color: black;
    margin-top: 0;
    margin-bottom: 0;
  }

  p {
    font-size: 15px;
    font-weight: 400;
    font-family: $font-family;
    color: black;
    text-decoration-line: none;
    text-decoration: none;
    line-height: 22px;
    margin-top: 4px;
    margin-bottom: 0;
    text-align: start;
  }
}

#document-icon {
  margin-left: 40px;

}

#chevron-icon {
  margin-right: 40px;
}

@media only screen and (max-width: 800px) {
  #article-card-container {
    width: 100%;
  }
}
</style>
