<template>
  <div>
    <screen-indicator />
    <tawk-header />
    <router-view />
  </div>
</template>

<script>
import Header from './components/Header.vue'
import ScreenIndicator from './components/DX/ScreenSizeIndicator.vue'

export default {
  components: {
    'tawk-header': Header,
    'screen-indicator': ScreenIndicator
  }
}
</script>

<style lang="scss" scoped>
@import 'scss/main.scss';
</style>
