$font-family: 'Lato', Arial, Helvetica, sans-serif;
$green: #03a84e;
$green-dark: #028c40;
$text-black: #373737;
$text-gray: #9C9AA6;
$text-light-gray: #D3D3D3;
$border-gray-light: #EEEEEE;
$border-gray-dark: #D9D9D9;
$white: #FFFFFF;
$lotion: #FAFAFA;


h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin-top: 0;
  margin-bottom: 0;
}


.router-link {
  text-decoration: none;
}

.green {
  color: $green;
}

.icon-20 {
  font-size: 20px;
}

.icon-16 {
  font-size: 16px;
}

.divider-light {
  width: 100%;
  height: 1px;
  background-color: $border-gray-light;
  margin-top: 20px;
  margin-bottom: 20px;
}

.divider-dark {
  width: 100%;

  height: 3px;
  background-color: $border-gray-dark;
}

.light-gray {
  color: $text-light-gray;
}

.gray {
  color: $text-gray;
}